<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parcials/head') %>
    <link rel="stylesheet" href="/css/style-categorias.css">
    <title>Lib||Comercial</title>
</head>
<body>
    <header class="header">
        <%- include('../parcials/nav-categorias') %>  
    </header>
        <%- include('../parcials/modals-catego') %>
        <div class="tittle-port">
            <h1>COMERCIAL</h1>
        </div>

        <section class="carrousel">
            <%- include('../parcials/carrousel-promocion') %>
        </section>
     <section class="estruct-card">
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-comercial/abrochadora.jpg"
                        alt="imagen de una abrochadora">
                </div>
                <h5 class="cont-card">abrochadora</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-comercial/borratinta.jpg"
                        alt="imagen de un borratinta">
                </div>
                <h5 class="cont-card">borratinta</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-comercial/cajas organizadoras.jpg"
                        alt="imagen de cajas organizadoras">
                </div>
                <h5 class="cont-card">cajas organizadoras</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-comercial/carpeta-a4.jpg"
                        alt="carpeta-a4">
                </div>
                <h5 class="cont-card">carpeta a4</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
    
        </section>
        <section class="estruct-card">
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-comercial/cinta-adhesiva.jpg"
                        alt="imagen de una cinta adhesiva">
                </div>
                <h5 class="cont-card">cinta adhesiva</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-comercial/cinta-de-papel.jpg"
                        alt="imagen de una cinta de papel">
                </div>
                <h5 class="cont-card">cinta de papel</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-comercial/corrector.jpg"
                        alt="imagen de un corrector">
                </div>
                <h5 class="cont-card">corrector</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-comercial/folio-x100.jpg"
                        alt="imagen de folios">
                </div>
                <h5 class="cont-card">folio x 100un</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
    
        </section>
        <section class="carrousel">
            <%- include('../parcials/carrousel-destacados') %>
        </section>
        <section class="estruct-card">
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-comercial/marcador-stabilo-x-24.jpg"
                        alt="Imagen de un marcador">
                </div>
                <h5 class="cont-card">marcador stabilo x24</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-comercial/organizador-escritorio.jpg"
                        alt="Imagen de un organizador de escritorio">
                </div>
                <h5 class="cont-card">organizador de escritorio</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-comercial/perforadora.jpg"
                        alt="Imagen de una perforadora">
                </div>
                <h5 class="cont-card">perforadora</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-comercial/resma-a4.jpg"
                        alt="Imagen de una resma de hojas">
                </div>
                <h5 class="cont-card">resma hojas a4</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
    
        </section>
        <section class="estruct-card">
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-comercial/sello.jpg"
                        alt="Imagen de un sello">
                </div>
                <h5 class="cont-card">sello</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-comercial/separadores.jpg"
                        alt="Imagen de separadores">
                </div>
                <h5 class="cont-card">separadores</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-comercial/sobres.jpg"
                        alt="Imagen de sobres ">
                </div>
                <h5 class="cont-card">sobres</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-comercial/tintas.jpg"
                        alt="Imagen de tintas ">
                </div>
                <h5 class="cont-card">tintas</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
    
        </section>
  <!--  Seccion Metodos de Pago"-->
  <%- include('../parcials/metodos-pagos') %>
  <footer>
      <%- include('../parcials/footer') %>
  </footer>




        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
            integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
            crossorigin="anonymous"></script>
        <script src="/categorias.js"></script>

        <script src="/categorias.js"></script>
</body>
</html>