<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parcials/head') %>
    <link rel="stylesheet" href="/css/style-categorias.css">
    <title>Lib||Agendas</title>
</head>
<body>
    <header class="header">
        <%- include('../parcials/nav-categorias') %>  
    </header>
    
    <%- include('../parcials/modals-catego') %>

    <div class="tittle-port">
        <h1>AGENDAS Y LIBRETAS</h1>
    </div>
    

    <section class="carrousel">
        <%- include('../parcials/carrousel-promocion') %>
    </section>

    <section class="estruct-card">
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/agendas-libretas/libreta 1.jpg"
                    alt="Imagen de una agenda">
            </div>
            <h5 class="cont-card"> libreta</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/agendas-libretas/libreta 2.jpg"
                    alt="Imagen de una agenda">
            </div>
            <h5 class="cont-card">libreta</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/agendas-libretas/libreta 3.jpg"
                    alt="Imagen de una agenda">
            </div>
            <h5 class="cont-card">libreta</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/agendas-libretas/libreta 4.jpg"
                    alt="Imagen de una agenda">
            </div>
            <h5 class="cont-card">libreta</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>

    </section>
    <section class="estruct-card">
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/agendas-libretas/libreta 5.jpg"
                    alt="Imagen de una agenda">
            </div>
            <h5 class="cont-card">libreta</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/agendas-libretas/libreta 6.jpg"
                    alt="Imagen de una agenda">
            </div>
            <h5 class="cont-card">libreta</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/agendas-libretas/libreta 7.jpg"
                    alt="Imagen de una agenda">
            </div>
            <h5 class="cont-card">libreta</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/agendas-libretas/libreta 8.jpg"
                    alt="Imagen de una agenda">
            </div>
            <h5 class="cont-card">libreta</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>

    </section>

    <section class="carrousel">
        <%- include('../parcials/carrousel-destacados') %>
    </section>

    <section class="estruct-card">
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/agendas-libretas/libreta 9.jpg"
                    alt="Imagen de una agenda">
            </div>
            <h5 class="cont-card"> libreta</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/agendas-libretas/libreta 10.jpg"
                    alt="Imagen de una agenda">
            </div>
            <h5 class="cont-card"> libreta</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/agendas-libretas/libreta 11.jpg"
                    alt="Imagen de una agenda">
            </div>
            <h5 class="cont-card"> libreta</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/agendas-libretas/libreta 12.jpg"
                    alt="Imagen de una agenda">
            </div>
            <h5 class="cont-card"> libreta</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>

    </section>
    <section class="estruct-card">
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/agendas-libretas/libreta 13.jpg"
                    alt="Imagen de una agenda">
            </div>
            <h5 class="cont-card"> libreta</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/agendas-libretas/libreta 14.jpg"
                    alt="Imagen de una agenda">
            </div>
            <h5 class="cont-card"> libreta</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/agendas-libretas/libreta 15.jpg"
                    alt="Imagen de una agenda">
            </div>
            <h5 class="cont-card"> libreta</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/agendas-libretas/libreta 16.jpg"
                    alt="Imagen de una agenda">
            </div>
            <h5 class="cont-card"> libreta</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>

    </section>
  <!--  Seccion Metodos de Pago"-->
  <%- include('../parcials/metodos-pagos') %>
    <footer>
        <%- include('../parcials/footer') %>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
        crossorigin="anonymous"></script>
    <script src="/categorias.js"></script>

    <script src="/categorias.js"></script>
</body>
</html>