<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parcials/head') %>
    <link rel="stylesheet" href="/css/style-categorias.css">
    <title>Lib||Artistica</title>
</head>

<body>
    <header class="header">
        <%- include('../parcials/nav-categorias') %>  
    </header>
        <%- include('../parcials/modals-catego') %>
    <div class="tittle-port">
        <h1>ARTISTICOS</h1>
    </div>

    <section class="carrousel">
        <%- include('../parcials/carrousel-promocion') %>
     </section>

    
    <section class="estruct-card">
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-artistica/pote de tempera 1.jpg"
                    alt="Imagen de un pote de tempera">
            </div>
            <h5 class="cont-card">pote de tempera 200ml</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-artistica/pote de tempera 2.jpg"
                    alt="Imagen de un pote de tempera">
            </div>
            <h5 class="cont-card">pote de tempera 200ml</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-artistica/pote de tempera 3.jpg"
                    alt="Imagen de un pote de tempera">
            </div>
            <h5 class="cont-card">pote de tempera 200ml</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-artistica/pote de tempera 4.jpg"
                    alt="Imagen de un pote de tempera">
            </div>
            <h5 class="cont-card">pote de tempera 200ml</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>

    </section>
    <section class="estruct-card">
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-artistica/atril de alumnio plegable.jpg"
                    alt="imagen de un atril de aluminio plegable">
            </div>
            <h5 class="cont-card">atril de alumnio plegable</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-artistica/Atril de madera 1,70mts.jpg"
                    alt="imagen de un atril de madera">
            </div>
            <h5 class="cont-card">atril de madera x 1,70mts</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-artistica/atril de mesa.png"
                    alt="imagen de un atril de mesa">
            </div>
            <h5 class="cont-card">atril de mesa</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-artistica/paleta de pintura.jpg"
                    alt="imagen de una paleta de pintura">
            </div>
            <h5 class="cont-card">paleta artistica</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>

    </section>
    
    <section class="carrousel">
        <%- include('../parcials/carrousel-destacados') %>
    </section>
        
    <section class="estruct-card">
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-artistica/estuche con 48 lapices.jpg"
                    alt="imagen de un estuche de madera con lapices">
            </div>
            <h5 class="cont-card">estuche de madera x 48</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-artistica/lapices de dibujo x6.jpg"
                    alt="imagen de 6 lapices de dibujo">
            </div>
            <h5 class="cont-card">lapices de dibujo x6</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-artistica/lapices supersoft x12.jpg"
                    alt="imagen de  12 lapices de colores">
            </div>
            <h5 class="cont-card">lapices supersoft x12</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-artistica/lapices x60.jpg"
                    alt="imagen de 60 lapices de colores">
            </div>
            <h5 class="cont-card">lapices de colores x60</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>

    </section>
    <section class="estruct-card">
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-artistica/bastidores 50x50.jpg"
                    alt="imagen de un bastidor para dibujo ">
            </div>
            <h5 class="cont-card">bastidor 50x50</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-artistica/bastidores 70x90.jpg"
                    alt="imagen de un bastidor para dibujo ">
            </div>
            <h5 class="cont-card">bastidor 70x90</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-artistica/set de acrilico.jpg"
                    alt="imagen de un set de acrilicos">
            </div>
            <h5 class="cont-card">set de acrilicos</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>
        <div class="Card">
            <div class="imgCard ">
                <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-artistica/oleo 22ml-min.png"
                    alt="imagen de un oleo de pintura">
            </div>
            <h5 class="cont-card">oleo 22ml</h5>
            <button type="button" class="btn btn-primary">$ 0, 00</button>
        </div>

    </section>
 
    <!--  Seccion Metodos de Pago"-->
 <%- include('../parcials/metodos-pagos') %>
    
    <footer>
        <%- include('../parcials/footer') %>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
        crossorigin="anonymous"></script>
    <script src="categorias.js"></script>

    <script src="/categorias.js"></script>
</body>

</html>