<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parcials/head') %>
    <link rel="stylesheet" href="/css/style-categorias.css">
    <title>Lib||Tecnica</title>
</head>
<body>
    <header class="header">
        <%- include('../parcials/nav-categorias') %>  
    </header>
    <%- include('../parcials/modals-catego') %>
        <div class="tittle-port">
            <h1>TECNICA</h1>
        </div>

        <section class="carrousel">
            <%- include('../parcials/carrousel-promocion') %>
        </section>
        <section class="estruct-card">
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-tecnica/calculadora.jpg"
                        alt="Imagen de lapices de colores">
                </div>
                <h5 class="cont-card">calculadora cientifica</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-tecnica/compas.jpg"
                        alt="Imagen de lapices de colores">
                </div>
                <h5 class="cont-card">compas</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-tecnica/microfibras x10.jpg"
                        alt="Imagen de lapices de colores">
                </div>
                <h5 class="cont-card">microfibras x10</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-tecnica/papel de calcar.jpg"
                        alt="Imagen de lapices de colores">
                </div>
                <h5 class="cont-card">papel de calcar</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
    
        </section>
        <section class="estruct-card">
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-tecnica/lapiz mecanico.jpg"
                        alt="Imagen de un lapiz mecanico">
                </div>
                <h5 class="cont-card">lapiz mecanico</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-tecnica/lapiz tecnico 1.jpg"
                        alt="Imagen de un lapiz tecnico">
                </div>
                <h5 class="cont-card">lapiz tecnico</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-tecnica/estilografo-rotring.jpg"
                        alt="Imagen de un estilografo">
                </div>
                <h5 class="cont-card">estilografo rotring</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-tecnica/estilografos pizzini.jpg"
                        alt="Imagen de un estilografo">
                </div>
                <h5 class="cont-card">estilagro pizzini</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
    
        </section>
        <section class="carrousel">
            <%- include('../parcials/carrousel-destacados') %>
        </section>

        <section class="estruct-card">
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-tecnica/Plantilla de circulos.jpg"
                        alt="Imagen de una plantilla de circulos">
                </div>
                <h5 class="cont-card">plantilla de circulos</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-tecnica/Regla 150cm.jpeg"
                        alt="Imagen de una regla">
                </div>
                <h5 class="cont-card">regla 150cm</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-tecnica/regla mealica.jpg"
                        alt="Imagen de una regla">
                </div>
                <h5 class="cont-card">regla metalica</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-tecnica/tablero de dibujo tecnico.jpg"
                        alt="Imagen de un tablero de dibujo tecnico">
                </div>
                <h5 class="cont-card">tablero de dibujo tecnico</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
    
        </section>
        <section class="estruct-card">
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-tecnica/transportador.jpg"
                        alt="Imagen de lapices de un transportador">
                </div>
                <h5 class="cont-card">transportador</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-tecnica/bloc de dibujo a3.jpg"
                        alt="Imagen de lapices de un bloc de dibujo">
                </div>
                <h5 class="cont-card">bloc de dibujo a3</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-tecnica/cutter.jpg"
                        alt="Imagen de lapices de un cutter">
                </div>
                <h5 class="cont-card">cutter</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
            <div class="Card">
                <div class="imgCard ">
                    <img class="img-cards" src="/img/img-categorias/imgs-paginas/libreria-tecnica/pluma-min.jpg"
                        alt="Imagen de una pluma">
                </div>
                <h5 class="cont-card">pluma</h5>
                <button type="button" class="btn btn-primary">$ 0, 00</button>
            </div>
    
        </section>
 <!--  Seccion Metodos de Pago"-->
 <%- include('../parcials/metodos-pagos') %>
 


        <footer>
            <%- include('../parcials/footer') %>
        </footer>

       

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
            integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
            crossorigin="anonymous"></script>
        <script src="/categorias.js"></script>

        <script src="/categorias.js"></script>
</body>
</html>