<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../parcials/head') %>
    <link rel="stylesheet" href="/css/style.css">
    <title>Libreria Loremim</title>
</head>
<body>
    <!--PORTADA-->
    <header class="header">
        <%- include('../parcials/nav') %>  
    </header>
    <%- include('../parcials/portada') %>
    <!-- MODALS   -->
    <%- include('../parcials/modals') %>
    <!--  Cards de categorias"-->
    <%- include('../parcials/cards') %>
    <!--  Cards de descuentos."-->
    <%- include('../parcials/cards-dtos') %>
    <!--  Cards de destacados"-->
    <h3 class="cont-navs">Productos Destacados</h3>
    <%- include('../parcials/cards-destacados') %>  
    <!--  Seccion Metodos de Pago"-->
    <%- include('../parcials/metodos-pagos') %>
    <footer>
        <%- include('../parcials/footer') %>
    </footer>
    <script src="/main.js"></script>
</body>
</html>

    
    